<div class="container">
  <div class="row p-3">
    <div class="col-1"></div>
    <div class="col-5"><h4 class="header">後援型支援</h4></div>
  </div>

  <%= form_with model: @backer, url: log_project_backers_path, method: :post do |f| %>
    <%= render "public/shared/error_messages", resource: @backer %>

    <div class="row d-flex p-1">
      <div class="col-5 text-right"><%= f.label :支援金額 %></div>
      <div class="col-5"><%= f.text_field :support_amount %>円</div>
    </div>
    <div class="row p-1">
      <div class="col-5 text-right"><%= f.label :支払い方法 %></div>
      <div class="col-5">◯クレジットカード　◯銀行振込　◯コンビニ</div>
    </div>
    <div class="row p-1">
      <div class="col-5 text-right"><%= f.label :応援コメント %></div>
      <div class="col-5"><%= f.text_area :comment, placeholder: "50characters" %></div>
    </div>
    <div class="row p-1">
      <div class="col-5"></div>
      <div class="col-5"><%= f.submit "次に進む", class: 'btn btn-ex' %></div>
    </div>
  <% end %>
</div>