<!--<%#= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>-->
<div class="container p-3">
  <!--flash メッセージ -->
  <div class="row justify-content-center">
    <p><%= flash[:notice] %><%= flash[:alert] %></p>
  </div>

  <div class="row justify-content-center p-5">
    <div class="col-10 text-center">
      <h2 class="welcome">Welcome to of.</h2>
      <p class="welcome">Would you like to express you ?</p>
    </div>
  </div>
  <div class="toppage">
    <div class="item box1"><%= image_tag "top_image", width: "100%", height: "100%" %></div>
    <div class="item box">
      <div class="welcome col-8"><h3>　〇 of 〇〇</h3></div>
      <div class="welcome col-12">everyone/thing is part of something.</div><br>
      <!--<div class="welcome col-12">　　　something i know.</div><br>-->
      <div class="welcome col-8 text-right"><%= link_to "about us" ,about_path, class:"link" %></div>
      <!--<div class="col-5 text-center">-->
      <!--  <%#= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class:"link" %>-->
      <!--</div>-->
    </div>
    <div class="item box2"></div>
    <div class="item box3"><%= image_tag "of_image", width: "100%", height: "100%" %></div>
    <div class="item box4"><%= image_tag "sub_image", width: "100%", height: "100%" %></div>
    <div class="item"><%= image_tag "sub2_image", width: "100%", height: "100%" %></div>
    <div class="item"><%= image_tag "sub3_image", width: "100%", height: "100%" %></div>
    <div class="item"><%= image_tag "sub4_image", width: "100%", height: "100%" %></div>
    <div class="item"><%= image_tag "sub5_image", width: "100%", height: "100%" %></div>
    <div class="item box5"><%= image_tag "sub6_image", width: "100%", height: "100%" %></div>
    <div class="item box6">
      <div class="welcome col-8 text-center">
        <%= link_to 'guest?', users_guest_sign_in_path, method: :post, class:"link" %>
        　or　
        <%= link_to 'add user?', new_user_registration_path, class:"link" %>
      </div>
    </div>
  </div>
</div>