<div class="container">
  <div class="row p-3">
    <div class="col-5 text-right p-3"><h4 class="header">プロジェクト編集</h4></div>
  </div>

  <%= form_with model: @project, url: admin_project_path, method: :patch do |f| %>
    <%= render "admin/shared/error_messages", resource: @project %>

    <div class="field row d-block p-2">
      <div class="col-10 text-center"><%= f.label :◆プロジェクト掲載の承認 %></div>
    </div>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-5 p-3"><h5>1.目標設定</h5></div>
    </div>
    <div class="row p-1">
      <div class="col-5 text-right"><%= f.label :目標金額 %></div>
      <div class="col-5"><%= @project.target_amount %>円</div>
    </div>
    <div class="row p-1">
      <div class="col-5 text-right"><%= f.label :募集終了日 %></div>
      <div class="col-5"><%= @project.end_date %></div>
    </div>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-5 p-3"><h5>2.概要</h5></div>
    </div>
    <div class="row p-1">
      <div class="col-5 text-right"><%= f.label :タイトル %></div>
      <div class="col-5"><%= @project.title %></div>
    </div>
    <div class="row p-1">
      <div class="col-5 text-right"><%= f.label :本文 %></div>
      <div class="col-5"><%= @project.content %></div>
    </div>
    <div class="row p-1">
      <div class="col-5 text-right"><%= f.label :カテゴリ %></div>
      <div class="col-5"><%= @project.category.name %></div>
    </div>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-5 p-3"><h5>3.ビジュアル</h5></div>
    </div>
    <div class="row p-1">
      <div class="col-5 text-right"><%= f.label :イメージ画像 %></div>
      <div class="col-5">※詳細画面にて確認</div>
    </div>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-5 p-3"><h5>4.リターン</h5></div>
    </div>
    <div class="row p-1">
      <div class="col-5 text-right"><%= f.label :後援型 %></div>
      <div class="col-5"><%= @project.return.b_contents %></div>
    </div>
    <div class="row p-1">
      <div class="col-5 text-right"><%= f.label :参加型 %></div>
      <div class="col-5"><%= @project.return.p_contents %></div>
    </div>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-5 p-3"><h5>4.掲載ステータス</h5></div>
    </div>
    <div class="field row p-2">
      <div class="col-5 text-right"><%= f.label :ステータス %></div>
      <div class="col-5">
        <%= f.radio_button :posting_status, :examination %><%= f.label :posting_status, '審査中', value: 0  %>
        <%= f.radio_button :posting_status, :completed %><%= f.label :posting_status, '審査完了', value: 1 %>
      </div>
    </div>

    <div class="field row p-3">
      <div class="col-5 text-right"><%= f.submit '変更を保存', class: 'btn btn-ex' %></div>
      <div class="col-1"></div>
      <div class="col-5">
        <%= link_to "削除する", admin_project_path(@project.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-ex' %>
      </div>
    </div>
  <% end %>
</div>