<p>承認済みユーザ一覧</p>
<table>
  <% @participants.each do |participant| %>
    <% if participant.approval_status == "completed" %>
      <thead>
        <tr>
          <th>参加者</th>
          <th>応援コメント</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p>写真</p><%= participant.user.name %></td>            
          <td><%= participant.comment %></td>
          <td><%= link_to "内容を確認する", edit_project_participant_path(@project,participant) %></td>
        </tr>
      </tbody>
    <% end %>
  <% end %>
</table>
<p>承認前ユーザ一覧</p>
<table>
  <% @participants.each do |participant| %>
    <% if participant.approval_status == "approval" %>
      <thead>
        <tr>
          <th>参加者</th>
          <th>応援コメント</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p>写真</p><%= participant.user.name %></td>
          <td><%= participant.comment %></td>
          <td><%= link_to "内容を確認する", edit_project_participant_path(@project, participant) %></td>
        </tr>
      </tbody>
    <% end %>
  <% end %>
</table>