<div class="container p-3">
  <!--<div class="row justify-content-center">-->
  <!--  検索枠-->
  <!--</div>-->
</div>
<div class="container">
  <div class="row justify-conte-center">
    <div class="col-2 p-1">
      <div class="card-header text-center">カテゴリ検索</div>
      <div class="card-body">
        <div class="card-text">
          <% @categories.each do |category| %>
            <%= link_to projects_path(id: category.id), class: "link" do %>
              <p class="item p-0.5">＊<%= category.name %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-9 p-4">
      <h4 class="header">プロジェクト一覧</h4>
      <div class ="wrapper grid" >
        <% @projects.each do |project| %>
          <%# if project.posting_status == "completed" %>
          <div class="card text-center" style="width: 14rem; height: 12rem;">
            <p>　</p>
            <%= link_to project_path(project) do %>
              <div class="card-img-top">
                <% if project.image.attached? %>
                  <%= image_tag project.image, size: "100x100" %>
                <% else %>
                  <%= image_tag 'no_image', size: "100x100" %>
                <% end %>
              </div>
              <div class="card-body">
                <h6 class="card-title text-center"><%= project.title %></h6>
              </div>
            <% end %>
            <!--<div class="card-text">現在支援金額</div>-->
            <!--<div class="card-text">支援者数</div>-->
            <!--<div class="card-text">残り</div>-->
          </div>
          <%# end %>
        <% end %>
      </div>
      <div class="row justify-content-center p-4">
        <%= paginate @projects %>
      </div>
    </div>
  </div>
</div>