<!-- Project info -->
<%= render "public/projects/info", project: @project, backers: @backers, participants: @participants, total_amount: @total_amount, achievement_rate: @achievement_rate, days_left: @days_left %>

<!-- ProjectTab info-->
<div class="container p-3">
  <div class="row justify-content-center">
    <div class="col-7">
      <!-- nav-tab-->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <div class="nav-link active" aria-current="page" ><%= link_to "ホーム", project_path(@project) %></div>
          <!--<a class="nav-link active" aria-current="page" href="/projects/1">ホーム</a>-->
        </li>
        <li class="nav-item">
          <div class="nav-link" ><%= link_to "支援者", project_backers_path(@project) %></div>
          <!--<a class="nav-link" href="/projects/1/backers">支援者</a>-->
        </li>
        <li class="nav-item">
          <div class="nav-link" ><%= link_to "参加者", project_participants_path(@project) %></div>
          <!--<a class="nav-link" href="/projects/1/participants" tabindex="-1" aria-disabled="true">参加者</a>-->
        </li>
      </ul>
      <!-- tab-content -->
      <div class="tab-content">
        <div id="home" class="tab-pane active">
          <p></p>
          <p><%= @project.content %></p>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <!-- ユーザ情報 -->
      <div class="row justify-content-center">
        <div class="col-4 text-center">
          <div class="row justify-content-center">ユーザー情報</div>
          <% if @project.user.name == "guest" %>
            <%= image_tag "guest_image", size: "100x100", class: "icon" %>
          <% else %>
            <% if @project.user.image.attached? %>
              <%= image_tag @project.user.image, size: "100x100", class: "icon" %>
            <% else %>
              <%= image_tag 'no_image.jpeg', size: "100x100", class: "icon" %>
            <% end %>
          <% end %>
          <br>
          <%= @project.user.name %>
        </div>
      </div>
      <!-- リターン情報 -->
      <div class="row justify-content-center">
        <%= render "public/returns/show", returnv: @returnv %>
      </div>
    </div>
  </div>
</div>