<!-- Project info -->
<div class="container p-3">
  <!-- head -->
  <div class="row justify-content-center p-3">
    <div class="col-10 text-center"><h3><%= @project.title %></h3>
      <div class="row justify-content-center">
        <div class="col-3"><%= @project.user.name %></div>
        <div class="col-3"><%= @project.category.name %></div>
        <div class="col-3">none</div>
      </div>
    </div>
  </div>
  <!-- main -->
  <div class="row justify-content-center p-3">
    <div class="col-5 text-center"><%= image_tag @project.image %></div>
    <div class="col-5">
      <div class="row justify-content-center">
        <!-- 支援総額 -->
        <p>現在の支援総額</p><%= @total_amount %>円
      </div>
      <div class="row justify-content-center">
        <!-- 支援者数 -->
        <p>支援者数</p><%= @b_number.count %>人
      </div>
      <div class="row justify-content-center">
        <!-- 参加者数 -->
        <p>参加者数</p><%#= @p_number.count %>人
      </div>
      <div class="row justify-content-center">
        <!-- 残り日数-->
        <p>募集終了まで残り</p><p>〇〇日</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center p-3">
    <div class="col-5"></div>
    <div class="col-5 text-center">
      <% if @project.user == current_user %>
        <%= link_to "プロジェクトを編集する", edit_project_path %>
      <% else %>
        <%= link_to "プロジェクトを支援する", selects_project_returns_path(@project) %>
        <!-- いいね機能 -->
        <% if @project.favorited_by?(current_user) %>
          <p>
            <%= link_to project_favorites_path(@project), method: :delete do %>
              ♥ お気に入り
            <% end %>
          </p>
          <% else %>
          <p>
            <%= link_to project_favorites_path(@project), method: :post do %>
              ♡ お気に入り
            <% end %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- ProjectTab info-->
<div class="container p-3">
  <div class="row justify-content-center">
    <div class="col-7">
      <!-- nav-tab-->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/projects/1">ホーム</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects/1/backers">支援者</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects/1/participants" tabindex="-1" aria-disabled="true">参加者</a>
        </li>
      </ul>
      <!-- tab-content -->
      <div class="tab-content">
        <div id="home" class="tab-pane active">
          <p></p>
          <p><%= @project.content %></p>
          <p></p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <!-- ユーザ情報 -->
      <div class="row justify-content-center">
        <div class="col-4 text-center">
          <div class="row justify-content-center">ユーザー情報</div>
          <% if @project.user.image.attached? %>
            <%= image_tag @project.user.image, size: "100×100" %>
          <% else %>
            <%= image_tag 'no_image', size: "100×100" %>
          <% end %><br>
          <%= @project.user.name %>
        </div>
      </div>
      <!-- リターン情報 -->
      <div class="row justify-content-center">
        <%= render "public/returns/show", returnv: @returnv %>
      </div>
    </div>
  </div>
</div>