<%= form_with model:@category, url: admin_categories_path, method: :post, local:true do |f| %>
  <%= f.label :カテゴリ一覧・追加 %><br>
  <%= f.text_field :name %><br>
  <%= f.text_field :remarks %><br>
  <%= f.submit '新規登録' %>
<% end %>

<table>
  <thead>
    <th>
      <th>カテゴリ名</th>
      <th>備考</th>
    </th>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.remarks %></td>
        <td><%= link_to "Edit", edit_admin_category_path(category.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>