<h4>ユーザー情報編集</h4>

<%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>
  <%= render "admin/shared/error_messages", resource: @user %>

  <%= f.label :名前 %>
  <%= @user.name %>

  <%= f.label :メールアドレス %>
  <%= @user.email %>

  <%= f.label :プロフィール %>
  <%= @user.introduction %>

  <%= f.label :会員ステータス %>
  <%= f.radio_button :is_deleted, false %><%= f.label :is_deleted, "有効", value: true %>
  <%= f.radio_button :is_deleted, true %><%= f.label :is_deleted, "退会", value: false %>

  <%= f.submit "保存する" %>
<% end %>