<div class="container">
  <div class="row p-3">
    <div class="col-5 text-right p-3"><h4 class="header">ユーザ情報編集</h4></div>
  </div>
  
  <%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>
    <%= render "admin/shared/error_messages", resource: @user %>

    <div class="field row d-block p-2">
      <div class="col-10 text-center"><%= f.label :◆会員ステータスの更新 %></div>
    </div>
    <div class="field row p-2">
      <div class="col-5 text-right"><%= f.label :ユーザ名 %></div>
      <div class="col-5"><%= @user.name %></div>
    </div>
    <div class="field row p-2">
      <div class="col-5 text-right"><%= f.label :メールアドレス %></div>
      <div class="col-5"><%= @user.email %></div>
    </div>
    <div class="field row p-2">
      <div class="col-5 text-right"><%= f.label :プロフィール %></div>
      <div class="col-5"><%= @user.introduction %></div>
    </div>
    <div class="field row p-2">
      <div class="col-5 text-right"><%= f.label :会員ステータス %></div>
      <div class="col-5">
        <%= f.radio_button :is_deleted, false %><%= f.label :is_deleted, "有効", value: true %>
        <%= f.radio_button :is_deleted, true %><%= f.label :is_deleted, "退会", value: false %>
      </div>
    </div>
    <div class="field row p-2">
      <div class="col-5"></div>
      <div class="col-5"><%= f.submit "保存する" %></div>
    </div>
  <% end %>
</div>