<h4>ユーザ一覧</h4>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>ユーザー名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td>
        <%= link_to admin_user_path(user) do %>
          <%= user.name %>
        <% end %>
      </td>
      <td><%= user.email %></td>
      <td>
        <% if user.is_deleted == false %>
          有効
        <% elsif user.is_deleted == true %>
          退会
        <% end %>
      </td>
      <td><%= link_to "編集する", edit_admin_user_path(user) %></td>
    </tr>
  <% end %>
  </tbody>
</table>