<% if admin_signed_in? %>
  <% backer_projects.each do |project| %>
    <%= link_to admin_project_path(project) do %>
      <%= image_tag project.image %>
      <%= project.title %>
      <p>現在支援金額</p>
      <p>支援者数</p>
      <p>残り</p>
    <% end %>
  <% end %>
<% else %>
  <% backer_projects.each do |project| %>
    <%= link_to project_path(project) do %>
      <%= image_tag project.image %>
      <%= project.title %>
      <p>現在支援金額</p>
      <p>支援者数</p>
      <p>残り</p>
    <% end %>
  <% end %>
<% end %>