<!--使用箇所-->
  <!--[users/show] [users//backer] [useres/participant] [users/favorite]-->

<!-- User info -->
<div class="container p-3">
  <!--flash メッセージ -->
  <div class="row justify-content-center">
    <p><%= flash[:notice] %><%= flash[:alert] %></p>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5 p-3"><h4 class="header">マイページ</h4></div>
  </div>
  <div class="row p-3">
    <div class="col-4 text-center">
      <% if current_user.name == "guest" %>
        <%= image_tag "guest_image", size: "100x100", class: "icon" %>
      <% else %>
        <% if current_user.image.attached? %>
          <%= image_tag current_user.image, size: "100x100", class: "icon" %>
        <% else %>
          <%= image_tag 'no_image.jpeg', size: "100x100", class: "icon" %>
        <% end %>
      <% end %>
      <br>
      <%= current_user.name %>
    </div>
    <div class="col-8">
      <%= current_user.introduction %><br>
      <br>
      <%= link_to "編集する", edit_user_path(current_user), class: 'btn btn-ex' %>
    </div>
  </div>
</div>