<!-- User info -->
<div class="container p-3">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5 p-3"><h4 class="header">マイページ</h4></div>
  </div>
  <div class="row p-3">
    <div class="col-4 text-center">
      <% if current_user.image.attached? %>
        <%= image_tag current_user.image, size: "100×100" %>
      <% else %>
        <%= image_tag 'no_image', size: "100×100" %>
      <% end %><br>
      <%= current_user.name %>
    </div>
    <div class="col-8">
      <%= current_user.introduction %>
      <%= link_to "編集する", edit_user_path(current_user) %>
    </div>
  </div>
</div>
<!-- ProjectTab info -->
<div class="container p-3">
  <div class="row justify-content-center">
    <div class="col-10">
      <!-- nav-tab-->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="/users/my_page">info</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/users/backer">支援プロジェクト</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/participant">参加プロジェクト</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/owner">投稿プロジェクト</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/favorite">お気に入りプロジェクト</a>
        </li>
      </ul>
      <!-- tab-content -->
      <div class="tab-content p-3">
        <div id="backer" class="wrapper grid">
          <% @backer_projects.each do |project| %>
            <div class="card text-center" style="width: 14rem;">
              <%= link_to project_path(project) do %>
                <% if project.image.attached? %>
                  <%= image_tag project.image, size: "100×100" %>
                <% else %>
                  <%= image_tag 'no_image', size: "100×100" %>
                <% end %>
              <% end %>
              <div class="card-body">
                <h6 class="card-title"><%= project.title %></h6>
                <p class="card-text">現在支援金額</p>
                <p class="card-text">支援者数</p>
                <p class="card-text">残り</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
